<h2>{{hero.name | uppercase}} Details</h2>
<div><span>ID: </span>{{hero.id}}</div>
<div>
<label for="name">Nombre del super heroe: </label>
<input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
<div>
<label for="edad">Edad del super heroe: </label>
<input id="edad" [(ngModel)]="hero.edad" placeholder="edad">
</div>
<div>
<label for="poder">Poder del super heroe: </label>
<input id="poder" [(ngModel)]="hero.poder" placeholder="poder">
</div>
<div>
<label for="identidad">Identidad del super heroe: </label>
<input id="identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
</div>
<div>
<label for="universo">Universo del super heroe: </label>
<input id="universo" [(ngModel)]="hero.universo" placeholder="universo">
</div>
